@model BookstoreProject.Models.Category

@{
    ViewData["Title"] = "Kategori Detaylari";
}

<h1>Detaylar</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_TR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_TR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_EN)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Duzenle</a> |
    <a asp-action="Index">Listeye Geri Don</a>
</div>
