@model IEnumerable<BookstoreProject.Models.Category>

@{
    ViewData["Title"] = "Kategori Listesi";
}

<h1>Kategori Listesi</h1>

<p>
    <a asp-action="Create">Yeni Kategori Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_TR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_EN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_TR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name_EN)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Duzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
