@model BookstoreProject.Models.Book

@{
    ViewData["Title"] = "Kitap Sil";
}
<div class="container">

    @if (Model.Active == true)
    {
        <h3>Pasif Etmek İstediğinizden Emin Misiniz?</h3>
        <div>

            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name_TR)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name_TR)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name_EN)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name_EN)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description_TR)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description_TR)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description_EN)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description_EN)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Stock)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PublishYear)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PublishYear)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Language)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Language.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Author.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MainPhoto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MainPhoto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SecondPhoto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SecondPhoto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ThirdPhoto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ThirdPhoto)
                </dd>
            </dl>
            <div class="row">
                <div class="col-md-3">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Pasif Et" class="btn btn-block btn-danger" />

                    </form>
                </div>
                <div class="col-md-3">
                    <form asp-action="Index">
                        <div class="form-group">
                            <input type="submit" value="Listeye Geri Dön" class="btn btn-block btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    }
    else
    {
        <h3>Aktif Etmek İstediğinizden Emin Misiniz?</h3>
        <div>

            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name_TR)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name_TR)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name_EN)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name_EN)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description_TR)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description_TR)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description_EN)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description_EN)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Stock)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PublishYear)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PublishYear)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Language)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Language.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Author.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MainPhoto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MainPhoto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SecondPhoto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SecondPhoto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ThirdPhoto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ThirdPhoto)
                </dd>
            </dl>
            <div class="row">
                <div class="col-md-3">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Aktif Et" class="btn btn-block btn-danger" />

                    </form>
                </div>
                <div class="col-md-3">
                    <form asp-action="Index">
                        <div class="form-group">
                            <input type="submit" value="Listeye Geri Dön" class="btn btn-block btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    }

</div>