@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@model BookstoreProject.Models.Book

@{
    ViewData["Title"] = localizer["Title"].Value;
}
<div class="container">
    <h1>@localizer["Title"]</h1>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stock)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PublishYear)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PublishYear)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LanguageId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Language.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AuthorId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            @if (Model.Active == true)
            {
                <dt class="col-sm-10">
                    <span class="circle green"></span>
                </dt>
            }
            else
            {
                <dt class="col-sm-10">
                    <span class="circle red"></span>
                </dt>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MainPhoto)
            </dt>
            <dd class="col-sm-10">
                <img style="max-width:100px;" src="~/images/@Model.MainPhoto" class="img" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SecondPhoto)
            </dt>
            <dd class="col-sm-10">
                <img style="max-width:100px;" src="~/images/@Model.SecondPhoto" class="img" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ThirdPhoto)
            </dt>
            <dd class="col-sm-10">
                <img style="max-width:100px;" src="~/images/@Model.ThirdPhoto" class="img" />
            </dd>
        </dl>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form asp-action="Edit" method="GET" asp-route-id="@Model.Id">
                <div class="form-group">
                    <input type="submit" value="@localizer["Edit"]" class="btn btn-block btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <form asp-action="Index">
                <div class="form-group">
                    <input type="submit" value="@localizer["GoBackToList"]" class="btn btn-block btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>